@import "tailwindcss";

/* Global font imports and base styles */
@font-face {
    font-family: "FzManstein";
    src: url("/fonts/1FTV-VIP-Manstein.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UVNNhan";
    src: url("/fonts/UVNNhan/UVNNhan_R.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UVNNhan";
    src: url("/fonts/UVNNhan/UVNNhan_B.TTF") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "UVNNhan";
    src: url("/fonts/UVNNhan/UVNNhan_I.TTF") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "UVNNhan";
    src: url("/fonts/UVNNhan/UVNNhan_BI.TTF") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
